.main {
    margin-left: 240px;
    min-height: 100vh;
    padding: 40px 60px;
}

.details-container {
    display: grid;
    grid-template-columns: 1fr 350px;
    gap: 40px;
    margin-bottom: 80px;
}

.hero-image-wrapper {
    width: 100%;
	height: 600px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 30px;
    border: 1px solid rgba(255, 255, 255, 0.05);
}

.hero-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.game-main-title {
    font-size: 3.5rem;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.game-long-desc {
    color: #8b8b9e;
    line-height: 1.8;
    font-size: 1.1rem;
    margin-bottom: 40px;
}

.purchase-card {
    background: #1c1c24;
    padding: 30px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    top: 40px;
}

.game-logo-small {
    height: 80px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}

.game-logo-small img {
    max-height: 100%;
    object-fit: contain;
}

.price-display {
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 25px;
    color: #fff;
}

.action-buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 30px;
}

.btn-buy-now {
    height: 55px;
    background: var(--neon-green);
    color: #13131a;
    border: none;
    border-radius: 8px;
    font-weight: 900;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-add-cart {
    height: 55px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;
    border-radius: 8px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-add-cart:hover {
    background: rgba(255, 255, 255, 0.05);
}

.meta-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 25px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.meta-row {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    font-weight: 600;
    color: #8b8b9e;
}

.white-text { color: #fff; }
.neon-text { color: var(--neon-purple); }

.image-nav {
    display: flex;
    gap: 15px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.thumb {
    width: 120px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    opacity: 0.5;
    border: 2px solid transparent;
    transition: all 0.3s ease;
}

.thumb:hover {
    opacity: 0.8;
}

.thumb.active {
    opacity: 1;
    border-color: var(--neon-purple);
    box-shadow: 0 0 10px var(--neon-purple-alpha);
}

.genre-text-display {
	margin: 10px 0; 
	color: #aaa; 
	font-size: 0.95rem;
}

.tag {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: var(--neon-purple);
    padding: 5px 15px;
    border-radius: 4px;
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
}

.game-long-desc {
    margin-top: 10px;
}